sourceDir = "{{ .chezmoi.homeDir }}/dotfiles"

encryption = "age"
[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "age1wzxjkwl2ggrtewyfv23gktszl2egqdvj7qqehm6eceml2klhcgfqct464w"
