[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule ".vim/neobundle"]
	path = .vim/neobundle
	url = https://github.com/Shougo/neobundle.vim.git
