[submodule "prezto"]
	path = prezto
	url = git@github.com:unagi/prezto.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/yyuu/pyenv
[submodule "pyenv-virtualenv"]
	path = pyenv-virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/rbenv/ruby-build
